* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("../images/flowers.png");
    background-color: rgb(151, 150, 147);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    flex: 1 0 auto;
  }

header {
    padding: 10px;
    width: 100%;
    height: 100px;
    margin: 0px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    }
    
h1 {
    padding: 40px 30px;
    line-height: 25%;
    margin-top: none;
    margin: 0px 30px;
    margin-left: 150px;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    background-color: #4aaaa5;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
ul {
        text-align: right;
        list-style: none;
        margin-top: -50px;
    }
    
ul li {
        display: inline-block;
        padding-left: 30px;
    }
    
ul li:last-child{
        padding-right: 150px;
    }
    
    a {
      columns: #ffffff;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition:.5s;
    }
    
    a:link {text-decoration:none; color: #666666;}
    a:hover { color: #4aaaa5; }
    a:visited {text-decoration:none;}
    a:active {text-decoration:none;}



.main {
    padding: 30px 30px;
    margin: 50px 155px;
    background-color: #ffffff;
    display: inline-block;

}

h2 {
    padding: 20px;
    margin-top: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;

}

hr {
    border: 1px solid lightgrey;

}

img {
    float: left;
    border: 2px solid #666666;
    size: 200px;
    margin-left: 25px;
}

p {
    display: flex;
    align-content: flex-end;
    margin-top: -8px;
    text-align: justify;
    padding: 0px 20px 0px 30px;
    line-height: 2em;
}


.footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 2%;
    width: 100%;
    flex-shrink: 0;
    justify-content: end;
  }